

<div class="twtclone"> 
        <div class="postHeader">
            <div class="postTitle">
                <h3>Twitter</h3>
            </div>
            <div class="postNameProfile">
                <div class="postName">
                    <p>Welcome, <%= @user.username %></p>
                </div>
                <div class="postProfile">
                    <a href='/profile'><p>Profile</p></a>
                </div>
                <div class="signOut">
                    <form method="POST" action="/sign-out">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="homeContent">
            <div class="newPost">
                <form method="POST" action='/'>
                    <textarea name= "[posts]body" maxlength="150" rows="4" cols="50"></textarea>
                    <!--<input type="text" name="" id="postInput">-->
                    <input type="submit" id="postButton" value="Post">
                </form>

            </div>

        <div class="postMain">

        <% @post.each do |post|%>
            <div class="postPost">
                <div class="userPost">
                    <p><%= post.body%></p>
                    
                    <div class="postTimeUser"> 
                        <div class="postTime">
                            <p><%= post.posted_at%></p>
                        </div>
                        <div class="PostUserName">
                            <p><a href="/target_user"><%= User.find(post.user_id).username %></a></p>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        </div>

        </div>
    </div>
