<div class="postHeader">
           <div class="postTitle">
           <h3>Twitter</h3>
           </div>
       </div>
<div class='header'>Sign In</div>

<div id = 'signInContent'>
    <form method="POST" action="/sign-in">
        <label for="username">Username</label>
        <input id = "username" type="text" name="[user]username"><br>
        <label for="password">Password</label>
        <input id = "password" type="password" name="[user]password"><br>
        <input type="submit">
    </form>

    <div id = 'signUp'>
        Don't have an account? <a href = '/sign-up'>Sign Up</a>
    </div>
</div>