<div class="postHeader">
       <div class="postTitle">
       <h3>Twitter</h3>
       </div>
</div>

<div class='header'>Sign Up</div>


<div id = 'signUpContent'>
    <form method="POST" action="/sign-up">
        <label for="username">Username</label>
        <input id = "username" type="text" name="[user]username"><br>
        <label for ="fname">First Name</label>
        <input id ="fname" type="text" name="[user]fname"><br>
        <label for ="lname">Last Name</label>
        <input id ="lname" type="text" name="[user]lname"><br>
        <label for="email">E-mail</label>
        <input id= "email" type="text" name="[user]email"><br>
        <label for="password">Password</label>
        <input id = "password" type="password" name="[user]password"><br>
        <label for="password_confirm">Confirm Password</label>
        <input id = "password_confirm" type="password" name="password_confirm"><br>
        
        <input type="submit">
    </form>

    <div id = 'signIn'>
        Already have an account? <a href = '/sign-in'>Sign In</a>
    </div>
</div>