* { 
    box-sizing: border-box;
    margin: 0;
}
body {
    background: linear-gradient(0.25turn, gray, white, gray);
}
#signInContent {
    text-decoration: none;
    font-size: 24px;
    padding:  5px;
    margin: 4px;
    color: wheat;
    width: 45%;
    background-color: #29487d;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 20px  #29487d;
    border-color:  #29487d;
    height: 500px;
}
#signUpContent {
    text-decoration: none;
    font-size: 24px;
    padding:  5px;
    margin: 4px;
    color: wheat;
    width: 45%;
    background-color: #29487d;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 20px  #29487d;
    border-color: #29487d;
    height: 500px;
}
.button {
    font-size: 35px;
}
.header {
    text-align: center;
    font-size: 42px;
}


.twtclone { 
    width: 275px;
    margin-left: auto;
    margin-right: auto; 
}

.postHeader {
    width: 270px; 
    color: white; 
}

.postTitle {
    height: 40px;
    width: 100%;
    background-color: #29487d;;
    color: white;
    padding-top: 10px;
    text-align: center;
}

.postNameProfile {
    height: 30px;
    width: 100%;
    color: black;
    padding-top: 7px;
    position: relative;
    background-color: white;
    border-bottom: solid #29487d 1px; 
}

.postName {
    position: absolute;
    left: 10px;  
}
.postProfile {
    position: absolute;
    right: 100px;    
}
.signOut {
    position: absolute;
    right: 10px;
}

body {
    background-color: #e9ebee;
}
/* background-color: #e9ebee;  */

/*  */
.sidePostSide {
    display: inline-block;
    display: none;
    border-radius: 8px;
    margin-left: 15px; 
    background-color: white;
}


.homeContent { 
    width: 270px; 
    padding: 10px;
    display: inline-block; 
    border-radius: 8px; 
    background-color: white; 
}

.newPost {
    width: 97%;
    height: 35px; 
    display: block;
    padding-bottom: 20px; 
}

.postMain {
    margin-top: 10%;
}


#postInput {
   width: 70%;
}

#postButton {
    padding: 7px; 
    float: right; 
    color: white;
    border-radius: 5px; 
    background-color: #3999dc;
    border: solid 1px #3999dc;
}

.postPost {
    width: 97%;  
    display: block;  

}

.userPost {
    padding: 10px;
    width: 100%;  
    display: block; 
}

.postTimeUser { 
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%; 
    height: 30px;
    border-top: solid black 1px; 
}

.postTime {
    float: left; 
}

.PostUserName {
    float: right; 
    /* border: solid red; */

}

 


@media only screen and (min-width: 400px) {
    .twtclone { 
        width: 400px;
        margin-left: auto;
        margin-right: auto;  
    }
    .postHeader {
        width: 100%; 
    }
    
    .postTitle {
        height: 45px; 
        padding-top: 15px;  
    }

    .postName { 
        left: 15px;  
    }
    .postProfile {
        position: absolute;
        right: 80px;    
    }
    
    .homeContent { 
        width: 400px; 
        padding: 20px;    
    }
    
    .newPost {
        margin: 5px;  
    }
    
    
    #postInput {
       width: 80%;
       height: 30px;
    }


}



@media only screen and (min-width: 600px) {
    .twtclone { 
        width: 600px;
        margin-left: auto;
        margin-right: auto; 
    }

    .postHeader {
        width: 100%; 
    }
    
    .postTitle {
        height: 50px; 
        padding-top: 20px;  
    }

    .postName { 
        left: 25px;  
    }
    .postProfile {
        position: absolute;
        right: 80px;    
    }
    
    .homeContent { 
        width: 600px; 
        padding: 20px;    
    }
    
    .newPost {
        margin: 5px;  
    }
    
    
    #postInput {
       width: 80%;
       height: 30px;;
    }


}



@media only screen and (min-width: 900px) {
    .twtclone { 
        width: 905px;
        margin-left: auto;
        margin-right: auto;  
    }
    .postHeader {
        width: 100%; 
       
    }

    .sidePostSide  { 
        width: 29%;
        /* height: 500px; */
        display: inline-block; 
        vertical-align: top;
        padding: 5px;
    }

    .sidePostHeader {
        width: 100%;
        height: 35px;
        padding-top: 10px;
        text-align: center;
        border-radius: 5px;
        background-color: #29487d;;
        color: white;
    }
    
    .sideUserInfo { 
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5px;
        border-bottom : solid gray 1px;
    }
        
    .sideUserName {
        display: inline-block;
        width: 70%;
        height: 40px;
        vertical-align: top;
        padding: 5px; 
    }

    .SideFollow {
        display: inline-block;
        width: 28%;
        height: 40px;
        vertical-align: top; 
        text-align: right;
        padding: 3px;
    }

    #folloBtn {
     padding: 5px; 
     background-color: #3999dc;
     border: solid 1px #3999dc;
     border-radius: 5px; 
     color: white;

    }

    
    .homeContent { 
        width: 600px; 
        vertical-align: top;
        margin-left: 10px;     
    }

    .postNameProfile {
        margin-bottom: 10px;
    }

    .postName { 
        left: 35px;  
    }
    .postProfile { 
        right: 80px;    
    }
    
    .newPost {
        margin: 5px;  
    }
    
    
    #postInput {
       width: 80%;
       height: 30px;;
    }



  


}




@media only screen and (min-width: 1000px) {
    .twtclone {
        width:1000px ;
        margin-left: auto;
        margin-right: auto; 
    }

    .sidePostSide  { 
       margin-left: 45px;
    }
}